<div class="todolist">
      <div class="row">
        <div class="col-6">
          <h4>Task</h4>
        </div>
        <div class="col-2">
          <h4>Complete</h4>
        </div>
        <div class="col-2">
          <h4 class="ps-4">Edit</h4>
        </div>
        <div class="col-2">
          <h4 class="ps-2">Delete</h4>
        </div>
        <hr class="mt-3">
      </div>
      <div *ngFor="let todo of todos$ | async" class="row mb-1 mt-2">
        <div class="col-6">
          <span [ngStyle]="{'text-decoration': todo.isCompleted ? 'line-through' : 'none'}">
            {{ todo.title }}
          </span>
        </div>
        <div class="col-2">
          <input (change)="onCheck(todo)" type="checkbox" class="ms-5" [checked]="todo.isCompleted">
        </div>
        <div class="col-2 p-0">
          <app-button class="btn-success px-4" (emitTodoEvent)="onEdit(todo.id)" text="Edit"></app-button>
        </div>
        <div class="col-2 p-0">
          <app-button class="btn-danger px-3  " (emitTodoEvent)="onDelete(todo.id)" text="Delete"></app-button>
        </div>
        <hr class="mt-3">
      </div>
</div>
