<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="col-12 m-3">
      <label for="todoTitle" class="me-2">
        Title:
      </label>
      <input id="todoTitle" type="text" formControlName="title">
    </div>
    <div class="col-12 m-3">
      <label for="isTodoCompleted" class="me-2">
        Is Completed:
      </label>
      <input id="isTodoCompleted" type="checkbox" formControlName="isCompleted">
    </div>

    <button type="submit"> 
      Save
    </button>
  </form>
</div>
