<div class="container mt-5">
  <div class="row justify-content-center mb-3">
    <div class="col-3">
      <h1 class="text-center">
        {{ showAddTodoButton ? 'Todo List' : (isCreateForm ? 'Create Todo' : 'Edit Todo') }}
      </h1>
    </div>
    <div class="col-3 align-self-center" *ngIf="showAddTodoButton">
      <app-button 
        class="btn-primary" 
        text="Add new todo"
        (emitTodoEvent)="redirect()" 
      ></app-button> 
    </div>
    <div class="col-3 align-self-center" *ngIf="!showAddTodoButton">
      <app-button 
        class="btn-primary" 
        text="Back to list"
        (emitTodoEvent)="redirectToMain()" 
      ></app-button> 
    </div>
  </div>

  <router-outlet></router-outlet>
</div>